*, html {
  image-rendering: pixelated;
}

body {
  margin: 0 auto;
}

@font-face {
  font-family: 'NeueBit';
  src: url('../fonts/ppneuebit-regular-webfont.woff2') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NeueBitBold';
  src: url('../fonts/ppneuebit-bold-webfont.woff2') format('woff');
  font-display: swap;
}

img {
  user-drag: none;
  user-select: none;
}